# Event logging configuration - using S3A
spark.eventLog.enabled=true
spark.eventLog.dir=s3a://spark-logs
spark.eventLog.compress=true

# History Server configurations  
spark.history.ui.port=18080
spark.history.fs.logDirectory=s3a://spark-logs/spark-events

# S3A configurations
spark.hadoop.fs.s3a.endpoint=${MINIO_ENDPOINT}
spark.hadoop.fs.s3a.access.key=${MINIO_ROOT_USER}
spark.hadoop.fs.s3a.secret.key=${MINIO_ROOT_PASSWORD}
spark.hadoop.fs.s3a.path.style.access=true
spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.connection.ssl.enabled=false
spark.history.fs.inProgressHistory.enabled=true
